// ========================
// Mixins
//=========================

@mixin center {
  margin: 0 auto;
  width: 75%;
};

@mixin align {
  text-align: center;
};

@mixin position {
  display: block;
  margin: auto;
}
