// ========================
// Variables
//=========================

//Colors
$white: #fff;

$color-primary: #00cc99;
$color-secondary: #80d4ff;
$color-text: #e6e6e6;
$color-font-primary: #576366;
$color-font-primary-light: lighten($color-font-primary, 2%);

// font
$font-stack-primary: Helvetica, sans-serif;
//Button Colors
$color-success: #00b386;
$color-error: #ff8080;
$color-warning: #ff884d;
$color-info: #666699;

//Grid Colors
$color-g12: #80ffdf;
$color-g6: #0077b3;
$color-g4: #80e5ff;
$color-g3: #e0b3ff;
$color-g5: #79d279;
$color-g7: #d27979;
$color-g8: #ff944d;
