// ========================
// Navigation
//=========================

.nav {
  @include align;
  @include mq('m'){
    @include flexwrap($just: flex-end)
  }
  &__item {
      @extend %nav__item;

    &:hover {
      background: $color-primary;
    }
    & a {
      display: block;
      font-family: $font-stack-primary;
      color: $color-font-primary;
      @include mq('m'){
        @include flexwrap();

      }
      @include mq('l'){
        @include flexwrap();
        margin: 0 0.5em; //creates space between nav items
      }
    }
    & a:hover {
      color: $white;
  }
}
}
